<div class="row">
  <div class="col-xs-12">
    {{#each model.student as |stu|}}
    <h2>Hey there {{stu.name}}</h2><br>
        <p>{{instructions.text}}</p>

        <small class="text-muted">All fields are required.</small>
        <div class="row">
          <div class="col-xs-12 col-md-6">Name: {{input type='text' value=stu.name class='form-control'}}</div>
          <div class="col-xs-12 col-md-6">Phone:
            {{input type='phone' value=stu.phone class='form-control'}}
          </div>
          <div class="col-xs-12 col-md-6">
            <br>
            T-shirt size:
            <br>
            {{#radio-button value='S' groupValue=stu.tShirt}} S{{/radio-button}}<br>
            {{#radio-button value='M' groupValue=stu.tShirt}} M{{/radio-button}}<br>
            {{#radio-button value='L' groupValue=stu.tShirt}} L{{/radio-button}}<br>
            {{#radio-button value='XL' groupValue=stu.tShirt}} XL {{/radio-button}}<br>
            {{#radio-button value='2XL' groupValue=stu.tShirt}} 2XL {{/radio-button}}<br>
          </div>
          <div class="col-xs-12 col-md-6">
            <br>
            School you attend:
            <br>
            {{#radio-button value='WWU' groupValue=stu.school}} Walla Walla University{{/radio-button}}<br>
            {{#radio-button value='WWCC' groupValue=stu.school}} Walla Walla Community College{{/radio-button}}<br>
            {{#radio-button value='Whitman' groupValue=stu.school}} Whitman College{{/radio-button}}<br>
            <br>
          </div>
          <div class="col-xs-12 col-md-6">
            <p>Would you like to {{#link-to 'signup.facilitator'}}be a facilitator{{/link-to}} for service day?</p>
          </div>
        </div>

        <p id='success-text' class="text-success pull-md-right"></p>
        <p id='fail-text' class="text-danger pull-md-right"></p>
        <br>
        <button class="btn btn-success pull-md-right" {{action 'save' stu}}>Save</button>
        <br><br>
      <h5> Click a project to sign up for it. </h5><br>
      {{#unless stu.projectID}}
        <small class="text-danger"> You aren't signed up for a project.</small>
        {{else}}
        <p class="text-green"> You are signed up for the {{id-to-name studentID=stu.projectID}} project.</p>
      {{/unless}}
    {{/each}}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <table class="table">
      <thead>
        <tr>
          <th>Project</th>
          <th class="hidden-md-down">Address</th>
          <th>Description</th>
          <th class="hidden-sm-down">Instructions</th>
          <th>Volunteers</th>
        </tr>
      </thead>
      <tbody>
        {{#each model.student as |stu|}}
          {{#each model.organizations as |org|}}
            {{#if (eq stu.projectID org.id)}}
              <tr {{action "update" org stu}} class="bg-primary">
                <td>{{org.name}}</td>
                <td class="hidden-md-down">{{org.address}}</td>
                <td>{{org.description}}</td>
                <td class="hidden-sm-down">{{org.special_instructions}}</td>
                <td>({{org.count}}/{{org.maximum_count}})</td>
              </tr>
            {{else if (gte org.count org.maximum_count)}}

            {{else}}
              <tr {{action "update" org stu}}>
                <td>{{org.name}}</td>
                <td class="hidden-md-down">{{org.address}}</td>
                <td>{{org.description}}</td>
                <td class="hidden-sm-down">{{org.special_instructions}}</td>
                <td>({{org.count}}/{{org.maximum_count}})</td>
              </tr>
            {{/if}}
          {{/each}}
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
