
<div class="row">
  <h2>Admin Page</h2>
  <br>
  <h4>Update Instructions For:</h4>
  {{#each model.instructions as |ins|}}
    <br>
    <h5>{{ins.name}}s</h5>
    {{textarea value=ins.text class="form-control"}}
    <p id={{concat "success-text-" ins.name}}></p>
    <button class="btn btn-success" {{action "save" ins}}>Save</button>
  {{/each}}
  <br><br>
  <h4>All Organizations (Click to Edit)</h4>
  <ul>
    {{#each model.organizations as |org|}}
      <li>{{#link-to "signup.organization.edit" org}}{{org.name}}{{/link-to}}</li>
    {{/each}}
  </ul>
</div>
